<header class="Font1">

    <nav class="navbar navbar-expand-lg navbar-dark">

        <a href="https://www.instagram.com/wakond_book/" class="navbar-brand" target="_blank">
            <img src="../assets/images/orosdydaniel.jpg" alt="kepem" style="height: 80px" id="kepem">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navmain" aria-controls="navmain" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="main-nav collapse navbar-collapse" id="navmain">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link" id="Dropdown" 
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ion-icon name="book" id="furaikon"></ion-icon>
                        Könyvek&nbsp;<span class="badge badge-light">katt</span>
                    </a>
                    <div aria-labelledby="Dropdown" class="dropdown-menu">
                        <a routerLink="/wakond" class="dropdown-item">&nbsp;Wakond</a>
                        <a routerLink="/halottugyek" class="dropdown-item">&nbsp;Halott ügyek</a>
                        <a routerLink="/fulciromero" class="dropdown-item">&nbsp;Fulci & Romero</a>
                        <a routerLink="/konyv" class="dropdown-item">&nbsp;<i>Összes</i></a>
                    </div>
                </li>

                <li class="nav-item mr-2">
                    <a routerLink="/cikk" class="nav link">
                        <ion-icon name="create"></ion-icon>&nbsp;ESSZÉK, CIKKEK...</a>
                </li>
                <li class="nav-item mr-2">
                    <a routerLink="/prog" class="nav link">
                        <ion-icon name="code-working"></ion-icon>&nbsp;PROGRAMOZÁS...</a>
                </li>
                <li class="nav-item mr-2">
                    <a routerLink="/jog" class="nav link">
                        <ion-icon name="folder-open"></ion-icon>&nbsp;JOG...</a>
                </li>
                <li class="nav-item mr-2 ml-2">
                    <a routerLink="/rendeles" class="nav link">
                        <ion-icon name="heart"></ion-icon>&nbsp;<b>RENDELÉS!</b></a>
                </li>
                
            </ul>
        </div>

    </nav>

    <div class="container">
        <div class="row">
            <div class="hero-text-box">
                <h1>OROSDY DÁNIEL <br> </h1>
                <h2>író, újságíró, programozó, jogász</h2>
                <h3>Üdvözlöm az oldalamon!</h3>
                <h5>Ismerkedjen meg mindazzal, amivel foglalkozom!</h5>
            </div>
        </div>
    </div>

</header>