<header class="Font2">

    <a routerLink="/fooldal" class="w3-button w3-black" *ngIf="router.url == '/wakond'">&laquo; Főoldal</a>&nbsp;
    <a routerLink="/konyv" class="w3-button w3-black" *ngIf="router.url == '/wakond'">&laquo; Összes könyv</a>

    <div class="container p-3 my-3 border">
        <h3>Orosdy Dániel - Merényi Dániel: Wakond</h3>
        <h5>Egy titokzatos, de népszerűnek nem mondható rendőr, Woiczek Dávid felkészültségének és a vak véletlennek köszönhetően megismeri egy óriási drog-adásvétel részleteit. Az információkat annak rendje és módja szerint át is adja a főnökének, Sréder Pálnak, aki azonban a frissen szerzett sérelmei hatására súlyos döntést hoz.
        Ahelyett, hogy a szokásos - törvényes - utat követné, szövetségre lép a beosztottjaival, Woiczekkel és szedett-vedett kollégáival, hogy saját jövőjüket alapozzák meg a megszerzett pénzzel és droggal.
        Természetesen homok kerül a fogaskerekek közé, az eredmény: lövöldözés, vérfürdő. A szajré végül Sréderékhez kerül ugyan, az igazi problémák azonban csak ekkor kezdődnek. A GG-nek becézett gengszterfőnök nem veszi jó néven, hogy meglopták...
        A sokoldalú alkotó, Merényi Dániel alias Grafitember most másik, kevésbé humoros oldalát mutatja: ezúttal a 
        bűnügyi regény képregényrajzoló társszerzője.</h5>
    </div>

    <div class="container p-3 border" id="idezet">
        <blockquote>
            "Woiczek ismét harapófogóba került. Varanggyal már találkozott egyszer (igaz, futólag), ezért 
            nem kockáztathatta meg, hogy felismeri, viszont a kapun sem ronthatott ki, mert akkor meg a 
            sofőr előtt bukott volna le. Az előtéren végigszaladva eljuthatott volna arra kis közös 
            területre, ahová a lakások ajtaja nézett a gang felől, csakhogy ezzel ismét a lebukást 
            kockáztatta volna, és a hangok alapján az sem volt kizárható, hogy már késő lenne elkezdeni 
            futni. Hirtelen ötlettől vezérelve felnyitotta az egyik kuka tetejét, a pizzás dobozokkal 
            lenyomta a szemetet a tároló aljára, majd ő maga is beugrott a nyíláson. A pokrócot kapkodva 
            elrendezte a testén, hogy a fejét kivéve mindenhol fedje, majd igyekezett olyan helyzetben 
            megmerevedni, amelyből minél jobban kiláthatott a kuka csúsztatható fedele és oldala közötti 
            szűk résen. A szemét zörgése nem volt feltűnő, viszont a hangok nagyon halkan szűrődtek be a 
            tartály fémfalain. Nagyjából fél perc elteltével ketten kerültek a szemetes közvetlen közelébe."
        </blockquote>
    </div>

    <section class="kritikak Font2">
        <h3 id="sotet">Kritikák</h3><br>
        
        <div class="card-deck">
            
            <div class="card">
                <div class="card-header">AHmagazin</div>
                <div class="card-body">
                    <h4 class="card-title">Kritika #1</h4>
                    <p class="card-text">"Ha szereted a humort, a kétbalkezes rendőröket, na meg a képregényeket, akkor a 
                        Wakondot imádni fogod! (...) Egy percre sem áll le az akció, hol a nagy akcióra készülnek, 
                        hol menekülnek vagy üldözik egymást, mindig történik valami" (...) Ha egy humoros hazai 
                        krimire vágysz, akkor bátran merem ajánlani neked Orosdy Dániel és Merényi Dániel 
                        Wakondját"</p>
                    <a href="http://www.ahmagazin.com/orosdy-daniel-merenyi-daniel-wakond/" 
                    class="btn btn-primary" target="_blank">Kattintson a részletekét!</a>
                </div>
                <div class="card-footer">Szerző: Benedek Eszter</div>
            </div>
    
            <div class="card">
                <div class="card-header">Gerner András oldala</div>
                <div class="card-body">
                    <h4 class="card-title">Kritika #2</h4>
                    <p class="card-text">"Kinek lehet ajánlani ezt a könyvet? Mindenkinek, aki szereti az olyan 
                        bűnügyi történeteket, amelyek egy kicsit mélyebbre nyúlnak a csihi-puhi, piff-puff-dirr-durr 
                        artalmatlan szikárságán. Akik szeretik a humort, akiket érdekelnek az emberi viszonyok, és nem 
                        rupos melodrámára vagy lapos, gyengécske vígjátékra vágynak."</p>
                    <a href="https://gernerandras.hu/wakond-izgalmas-krimi-es-annal-tobb/?fbclid=IwAR0MjHwkRFAmWO0JqdYpg8PTVhwW9lLqMWVqWIGz1QmBCYuD9IoTFRl_Q9U" 
                    class="btn btn-primary" target="_blank">Kattintson a részletekét!</a>
                </div>
                <div class="card-footer">Szerző: Gerner András</div>
            </div>
    
            <div class="card">
                <div class="card-header">Filmvilág Blog</div>
                <div class="card-body">
                    <h4 class="card-title">Kritika #3</h4>
                    <p class="card-text">"A regény humora kiváló, mégsem ez tartja össze az egészet, ahogy ez az első 
                        könyv esetében volt. Fontos adalék, kétséget kizáróan, de ahogy a vidéki helyszínről váltottunk a 
                        városira, mintha a tétek is megváltoztak volna. Jelen könyv sokkal inkább neo noir, mint a Halott 
                        ügyek volt, (...) könnyen belopja magát az ember szívébe."</p>
                    <a href="https://filmvilag.blog.hu/2019/12/30/halott_ugyek_169"
                    class="btn btn-primary" target="_blank">Kattintson a részletekét!</a>
                </div>
                <div class="card-footer">Szerző: Magócs Dávid</div>
            </div>
    
        </div>
        
    </section>

</header>