<header class="Font4">

    <nav class="navbar navbar-expand-lg navbar-dark">

        <a href="http://80.249.172.52/nav/kiadvanyok/adovilag/ADOVILAG_2017/ADOVILAG_2017_4.html" 
        class="navbar-brand" target="_blank">
            <img src="../assets/images/law-447487_1920.jpg" alt="parag" style="height: 80px" id="parag">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navmain" aria-controls="navmain" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="main-nav collapse navbar-collapse" id="navmain">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">
                    <a routerLink="/fooldal" class="nav link">
                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;FŐOLDAL
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" id="Dropdown" 
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ion-icon name="book" id="furaikon"></ion-icon>&nbsp;Könyvek&nbsp;<span class="badge badge-light">katt</span>
                    </a>
                    <div aria-labelledby="Dropdown" class="dropdown-menu">
                        <a routerLink="/wakond" class="dropdown-item">&nbsp;Wakond</a>
                        <a routerLink="/halottugyek" class="dropdown-item">&nbsp;Halott ügyek</a>
                        <a routerLink="/fulciromero" class="dropdown-item">&nbsp;Fulci & Romero</a>
                        <a routerLink="/konyv" class="dropdown-item">&nbsp;<i>Összes</i></a>
                    </div>
                </li>
                <li class="nav-item mr-2">
                    <a routerLink="/cikk" class="nav link">
                        <ion-icon name="create"></ion-icon>&nbsp;ESSZÉK, CIKKEK...
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a routerLink="/prog" class="nav link">
                        <ion-icon name="code-working"></ion-icon>&nbsp;PROGRAMOZÁS...
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a routerLink="/rendeles" class="nav link">
                        <ion-icon name="heart"></ion-icon><b>RENDELÉS!</b>
                    </a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="container whitespace"></div>

    <div class="container">
        <p>1998-ban a Janus Pannonius Tudományegyetem <a href="https://ajk.pte.hu/hu" target="_blank">Állam- és Jogtudományi Kar</a>án kezdtem meg 
        tanulmányaimat. 2003-ban az akkor már három éve <a href="https://pte.hu/" target="_blank">Pécsi Tudományegyetem</a>ként működő 
        intézményben szereztem jogi diplomát (és doktori címet) "cum laude" minősítéssel. <br>A jogi szakvizsgát 2013-ban tettem le.<br>
        Jogászként két munkahelyen szereztem gyakorlatot: 2005 folyamán határozott időre alkalmazásba kerültem a Szentlőrinci Önkormányzatnál
        szabálysértési előadóként, 2007-től 2019-ig pedig a Nemzeti Adó- és Vámhivatal (NAV; korábban: APEH - Adó- és Pénzügyi Ellenőrzési
        Hivatal) felszámolási és végelszámolási osztályán a "ranglétra" különböző fokain, beleértve több évig az osztályvezető 
        távollétében helyettesként aláírási joggal rendelkező kormánytisztviselői pozíciót is. <br>Jogászként közelebbről megismerkedtem többek között a Word és Excel programok
        használatával.</p>
    </div>

</header>