<div class="col-md-6">

    <h2 class="text-center">{{termekformLabel}}</h2>

    <form [formGroup]="hozzaadForm" novalidate class="form"> 
        
        <div class="form-group">
            <label for="id">Sorszám:</label>
            <input type="number" formControlName="id" placeholder="Sorszám" name="id" class="form-control" id="id">
        </div>
        <p><b>Olyan sorszámot válasszon, amely még nem "foglalt"!</b></p>

        <div class="form-group">
            <label for="szerzoNev">Szerző neve:</label>
            <input formControlName="szerzo_nev" placeholder="Szerző Neve" name="szerzoNev" class="form-control" id="szerzoNev">
            <div class="alert  alert-danger" *ngIf="hozzaadForm.get('szerzo_nev').hasError('minlength') && hozzaadForm.get('szerzo_nev').touched">
                Kötelezően kitöltendő mező! Minimális hossz: 3 karakter.
            </div>
        </div>

        <div class="form-group">
            <label for="termekCim">Termék címe</label>
            <input formControlName="termek_cim" placeholder="Termék címe" name="termek_cim" class="form-control" id="termek_cim">
            <div class="alert  alert-danger" *ngIf="hozzaadForm.get('termek_cim').hasError('minlength') && hozzaadForm.get('termek_cim').touched">
                Kötelezően kitöltendő mező! Minimális hossz: 3 karakter.
            </div>
        </div>

        <div class="form-group">
            <label for="ar">Ár:</label>
            <input formControlName="ar" placeholder="Termék ára" name="ar" class="form-control" id="ar">
            <div class="alert  alert-danger" *ngIf=" hozzaadForm.get('ar').hasError('minlength') && hozzaadForm.get('ar').touched">
                Kötelezően kitöltendő mező! Minimális hossz: 3 karakter.
            </div>
        </div>

        <button class="btn btn-success" [disabled]='hozzaadForm.invalid' *ngIf="btnvisibility" (click)="onSubmit()">Mentés</button>
    
    </form>

</div>

<a routerLink="/rendeles" class="w3-button w3-black my-2">&laquo; Vissza a Rendelés oldalra</a>