header {
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 7px 0;
    line-height: 100%;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #f51818;
    transition: .2s;
}

h4 {
    font-weight: bold;
    color: #fff;
    font-size: 120%;
    text-align: justify;
}